In [3]:
list_of_tables = ['titles', 'salaries', 'dept_emp', 'dept_manager', 'employees', 'departments']
for table in list_of_tables:
    print(f'DROP TABLE IF EXISTS {table};')

DROP TABLE IF EXISTS titles;
DROP TABLE IF EXISTS salaries;
DROP TABLE IF EXISTS dept_emp;
DROP TABLE IF EXISTS dept_manager;
DROP TABLE IF EXISTS employees;
DROP TABLE IF EXISTS departments;

In [19]:
list_of_tables = ['employees', 'departments', 'titles', 'salaries', 'dept_emp', 'dept_manager']
for table in list_of_tables:
    print(f"COPY {table}\nFROM 'D:\BOOTCAMP\git_repos\sql-challenge\data\{table}.csv'\nWITH (FORMAT CSV, HEADER);\n")
    print(f'SELECT *\nFROM {table};\n')
    
#     break

COPY employees
FROM 'D:\BOOTCAMP\git_repos\sql-challenge\data\employees.csv'
WITH (FORMAT CSV, HEADER);

SELECT *
FROM employees;

COPY departments
FROM 'D:\BOOTCAMP\git_repos\sql-challenge\data\departments.csv'
WITH (FORMAT CSV, HEADER);

SELECT *
FROM departments;

COPY titles
FROM 'D:\BOOTCAMP\git_repos\sql-challenge\data\titles.csv'
WITH (FORMAT CSV, HEADER);

SELECT *
FROM titles;

COPY salaries
FROM 'D:\BOOTCAMP\git_repos\sql-challenge\data\salaries.csv'
WITH (FORMAT CSV, HEADER);

SELECT *
FROM salaries;

COPY dept_emp
FROM 'D:\BOOTCAMP\git_repos\sql-challenge\data\dept_emp.csv'
WITH (FORMAT CSV, HEADER);

SELECT *
FROM dept_emp;

COPY dept_manager
FROM 'D:\BOOTCAMP\git_repos\sql-challenge\data\dept_manager.csv'
WITH (FORMAT CSV, HEADER);

SELECT *
FROM dept_manager;

In [1]:
list_of_tables = ['employees', 'departments', 'titles', 'salaries', 'dept_emp', 'dept_manager']
for table in list_of_tables:
    print(f"COPY {table}\nFROM 'PATH_TO_DATA_FOLDER\data\{table}.csv'\nWITH (FORMAT CSV, HEADER);\n")
    print(f'SELECT *\nFROM {table};\n')

COPY employees
FROM 'PATH_TO_DATA_FOLDER\data\employees.csv'
WITH (FORMAT CSV, HEADER);

SELECT *
FROM employees;

COPY departments
FROM 'PATH_TO_DATA_FOLDER\data\departments.csv'
WITH (FORMAT CSV, HEADER);

SELECT *
FROM departments;

COPY titles
FROM 'PATH_TO_DATA_FOLDER\data\titles.csv'
WITH (FORMAT CSV, HEADER);

SELECT *
FROM titles;

COPY salaries
FROM 'PATH_TO_DATA_FOLDER\data\salaries.csv'
WITH (FORMAT CSV, HEADER);

SELECT *
FROM salaries;

COPY dept_emp
FROM 'PATH_TO_DATA_FOLDER\data\dept_emp.csv'
WITH (FORMAT CSV, HEADER);

SELECT *
FROM dept_emp;

COPY dept_manager
FROM 'PATH_TO_DATA_FOLDER\data\dept_manager.csv'
WITH (FORMAT CSV, HEADER);

SELECT *
FROM dept_manager;